@import "tailwindcss";

:root {
  --color-accent: #6B6558;
  --color-lindo: #6B6558;
}


@layer base {
    body{
        background-color: #fafafa;
        color: #1A1A1A;

    }
    h1, h2, h3 {
    /*font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}


@layer base {
  html {
    /*font-family: 'Courier Prime', monospace;*/
    font-hamily: helvetica, Arial, sans-serif;
  }
}